{% extends 'base.html' %}

{% block title %}Linksaver | Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="col col-10">
    {% if items|length == 0 %}
      <p>You haven't added anything yet</p>
    {% else %}
      <p>Items</p>
      <ul>
        {% for item in items %}
          <li data-key="{{ item.id }}">{{ item.title }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
    <div class="col col-2">
      <p>Search</p>
      <p>Tags</p>
    </div>
  {% else %}
    <ul>
      <li>Save links</li>
      <li>Take notes</li>
      <li>Order items by date</li>
    </ul>
  {% endif %}
{% endblock %}
