{% extends 'base.html' %}

{% block title %}Sailbot Notes{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="max-width-3 mx-auto">
      {% include 'partial/items_by_day.html'%}
    </div>
  {% else %}
    <div class="clearfix max-width-4 mx-auto intro">
      <div class="right p2 mr1 md-hide sm-hide xs-hide">
        <img src="robot-plan.svg" class="noborder" style="
          transform: scale(1, -1) rotate(196deg);
          width: 300px;
          padding-top: 60px;
        ">
      </div>
      <div>
        <h1>Sailbot Notes!</h1>
        <p>With Sailbot Notes, you can take notes.</p>
        <ul>
          <li>Take notes</li>
          <li>Tag notes</li>
          <li>Search notes</li>
          <li>Use markdown syntax</li>
        </ul>
        <p>This little app is backed by a <a href="https://www.mongodb.com/" target="_blank">Mongo</a> database and was written in Python with <a href="https://www.starlette.io/" target="_blank">Starlette</a>. See the <a href="https://github.com/AlexanderRichey/linksaver" target="_blank">repo on GitHub</a> for more info.</p>
        <p class="py2">
          <a href="/users" class="btn-large" style="text-decoration:none;color:white;">Sign up</a>
        </p>
        <p class="md-hide sm-hide xs-hide"><small>Sailbot (to the right) is the mascot of <a href="https://aws.amazon.com/lightsail/" target="_blank">Amazon Lightsail</a>, of course.</small></p>
      </div>
    </div>
  {% endif %}
{% endblock %}
