{% extends 'base.html' %}

{% block title %}Linksaver{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="max-width-3 mx-auto">
      {% include 'partial/items_by_day.html'%}
    </div>
  {% else %}
    <div class="max-width-3 mx-auto intro">
      <img class="construction" src="construction.gif">
      <p><strong>Linksaver</strong> allows you to <i>save links</i> and  <i>take notes</i>.</p>
      <p>You can save links using the <strong>browser extension</strong> for <a href="#">Brave and Chrome</a> and the <strong>mobile app</strong> for <a href="#">iOS</a>.</p>
      <p>Saved links and notes are <strong>searchable</strong>, <strong>taggable</strong>, and can be <strong>pinned</strong> to the top of the screen. Items are ordered <strong>chronologically</strong>. It looks like this:</p> 
      <img class="fit" src="/preview.png">
      <p>I created Linksaver over a few nights and weekends because I wasn't satisfied with the available solutions for saving links. I used <a href="https://instapaper.com" target="_blank">Instapaper</a> for a number of years, but, as my browsing habits have changed over time, I felt that it was no longer suited to my needs. I tried using <a href="https://getpocket.com">Pocket</a>, Medium's <a href="https://usejournal.com">Journal</a>, and a few others, but there was something missing about each of them.</p>
      <p>Basically, I wanted something to do the following, but couldn't find it.</p>
      <p>
      <ul>
        <li><strong>Save links</strong> that I may <i>or may not</i> go back to in the future. I don't want a queue-based reading list that makes me feel guilty.</li>
        <li><strong>Search</strong> my links in case I do want to go back to something but don't remember exactly what it was called.</li>
        <li><strong>Tag</strong> links and notes to keep certain things organized. For example, I have resturants tag for all of the new resturants I'd like to go to.</li>
        <li>Take <strong>notes</strong>, since links and notes often go together.</li>
        <li>Display my links and notes in a <strong>clean UI</strong> with <strong>high information density</strong>.</li>
        <li>Organize everything on one logical level. No "workspaces" (Notion) or "spaces" (Journal) or other unnecessary subcategories.</li>
      </ul>
      </p>
      <p>The source code for Linksaver is <a href="#">available on GitHub</a> and contributions are welcome. The browser extension and iOS app are a bit hacky at the moment, but they get the job done. There is no Android app for now.</p>
    </div>
  {% endif %}
{% endblock %}
