{% extends 'base.html' %}

{% block title %}Linksaver | Add Link{% endblock %}

{% block content %}
<form action="/links" method="POST">
  <input type="hidden" name="csrf" value="{{ csrf }}">

  <label>
    <span>Title</span>
    <input name="title" type="text">
    <span>{{ title }}</span>
  </label>
 
  <label>
    <span>URL</span>
    <input name="url" type="url" required>
    <span>{{ url }}</span>
  </label>

   <label>
    <span>Favicon</span>
    <input name="favicon" type="url">
    <span>{{ favicon }}</span>
  </label>
 
  <label>
    <span>Body</span>
    <textarea name="body"></textarea>
    <span>{{ body }}</span>
  </label>

  <button type="submit">Save</button>
</form>
{% endblock %}
