{% extends 'base.html' %}
{% import 'partial/forms.html' as forms %}

{% block title %}
  {% if link %}
  Linksaver | Edit Link
  {% else %}
  Linksaver | Add Link
  {% endif %}
{% endblock %}

{% block content %}
<div class="max-width-3 mx-auto">
  <form action="{{ action }}" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf }}">

    {% if link and link.title %}
      {{ forms.input(
          'title',
          type='text',
          value=link.title,
          error=title) }}
    {% else %}
      {{ forms.input(
          'title',
          type='text',
          error=title) }}
    {% endif %}

    {% if link and link.url %}
      {{ forms.input(
          'URL',
          type='url',
          value=link.url,
          error=url) }}
    {% else %}
      {{ forms.input(
          'URL',
          type='url',
          error=url) }}
    {% endif %}

    {% if link and link.favicon %}
      {{ forms.input(
          'Favicon',
          type='url',
          value=link.favicon,
          error=favicon) }}
    {% else %}
      {{ forms.input(
          'Favicon',
          type='url',
          error=favicon) }}
    {% endif %}

    <hr class="mb3 mt2" />

    {% if link and link.body %}
      {{ forms.textarea('body', autofocus='true', value=link.body, error=body) }}
    {% else %}
      {{ forms.textarea('body', autofocus='true', error=body) }}
    {% endif %}
   
    <div class="mt3">
      <button class="right btn-large" type="submit">Save</button>
      <a href="/" class="right mx2 btn-large gray">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
