{% extends 'base.html' %}
{% import 'partial/forms.html' as forms %}

{% block title %}
  {% if note %}
  Sailbot Notes | Edit Note
  {% else %}
  Sailbot Notes | Create Note
  {% endif %}
{% endblock %}

{% block content %}
<div class="max-width-3 mx-auto">
  <form action="{{ action }}" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf }}">

    {% if note %}
      {{ forms.textarea('body', autofocus='true', value=note.body, error=body) }}
    {% else %}
      {{ forms.textarea('body', autofocus='true', error=body) }}
    {% endif %}
  
    <div class="mt3">
    {% if note %}
      {{ forms.input('tags', value=note.tags|join(", "), error=tags)}}
    {% else %}
      {{ forms.input('tags', error=tags)}}
    {% endif %}
    </div>

    <div class="mt3 flex justify-end">
      <a href="/" class="mr2 btn-large gray">Cancel</a>
      <button class="btn-large" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}
