{% extends 'base.html' %}
{% import 'partial/forms.html' as forms %}

{% block title %}Sailbot Notes | Sign up{% endblock %}

{% block content %}
<div class="max-width-2 mx-auto">
  <h2 class="h2 mb3">Sign up</h2>
  <form action="/users" method="POST">
    {{ forms.input('email', error=email, autofocus='true', value=auth.email) }}
   
    {{ forms.input('password', type='password', error=password, value=auth.password) }}

    <button class="right mt1 btn-large" type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
