{% macro input(name, value='', type='text', error='', autofocus='false') -%}
<div class="pb2">
  <div class="pb1">
    <label for="{{ name|lower }}">
      <small>{{ name|title }}</small>
    </label>
  </div>
  <div class="mb1">
    <input
      id="{{ name|lower }}"
      name="{{ name|lower }}"
      type="{{ type }}"
      value="{{ value }}"
      {% if autofocus == 'true' %}
      autofocus
      {% endif %}
    />
  </div>
  <div>
    <p class="red">
      <span>{{ error }}</span>
    </p>
  </div>
</div>
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40, error='', autofocus='false') -%}
<div data-controller="textarea">
  <div class="mb1">
    <textarea
      data-action="input->textarea#adjustHeight"
      data-target="textarea.editor"
      placeholder="Add a note..."
      id="{{ name|lower }}"
      {% if autofocus == 'true' %}
      autofocus
      {% endif %}
      name="{{ name|lower }}">{{ value }}</textarea>
  </div>
  <div>
    <p class="red">
      <span>{{ error }}</span>
    </p>
  </div>
</div>
{%- endmacro %}
