<header class="flex items-center justify-between">
  <div>
    <h1 class="m0 p0 regular">&#x1F517</h1>
  </div>
  <div>
    <nav class="m0 p0 flex">
      {% if user.is_authenticated %}
        <a class="btn-link-subtle mr1" href="/notes">
          <span class="material-icons mr1">edit</span>
          <span>New Note</span>
        </a>
        <a class="btn-link-subtle" href="/logout">
          <span class="material-icons mr1">login</span>
          <span>Logout</span>
        </a>
      {% else %}
      <p>
        <a href="/sessions">Login</a>
        <span> / </span>
        <a href="/users">Sign up</a>
      </p>
      {% endif %}
    </nav>
  </div>
</header>
