<header class="flex items-center justify-between">
  <div>
    <a class="no-underline" href="/">
      <h1 class="m0 p0 regular">&#x1F517</h1>
    </a>
  </div>
  <div>
    <nav role="navigation" class="m0 p0 flex">
      {% if user.is_authenticated %}
      <ul class="list-reset flex">
        <li>
          <a class="btn-link-subtle mr1" href="/search">
            <span class="material-icons mr1">search</span>
            <span>Search</span>
          </a>
        </li>
        <li class="relative">
          <a class="btn-link-subtle mr1" href="#" aria-haspopup="true">
            <span class="material-icons mr1">filter_alt</span>
            <span>Filter</span>
          </a>
          <ul class="dropdown list-reset" aria-label="submenu">
            <li class="nowrap flex"><span class="filter-bullet">&#x1F4DD</span><a href="/?filter=note">Notes</a></li>
            <li class="nowrap flex"><span class="filter-bullet">&#x1F30F</span><a href="/?filter=link">Links</a></li>
            <li class="nowrap flex"><span class="filter-bullet">&#x1F6AB</span><a href="/">Remove Filter</a></li>
            {% if user.get_tags()|length > 0 %}
              <li></li>
              {% for tag in user.get_tags() %}
              <li class="nowrap flex"><span class="filter-bullet">&#x0023</span><a href="/tags/{{ tag|lower }}">{{ tag|title }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li>
          <a class="btn-link-subtle mr1" href="/notes">
            <span class="material-icons mr1">edit</span>
            <span>New Note</span>
          </a>
        </li>
        <li>
          <a class="btn-link-subtle" href="/logout">
            <span class="material-icons mr1">login</span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
      {% else %}
      <p>
        <a href="/sessions">Login</a>
        <span> / </span>
        <a href="/users">Sign up</a>
      </p>
      {% endif %}
    </nav>
  </div>
</header>
