{% macro note(item) -%}
<li data-itemid="{{ item.id }}" data-controller="note">
  <div class="flex items-center">
    <div class="bullet">
      <p>&#x1F4DD</p>
    </div>
    <div class="flex justify-between items-center w-100">
      <button data-action="click->note#toggle" class="btn-unstyled fs-12 flex-auto left-align">
        {{ item.title }}
      </button>
      <div data-target="note.chrome" class="chrome display-none flex">
        <div>
          <form action="/links/{{ item.id }}/delete" method="POST">
            <button type="submit" class="btn-subtle mr1">
              <span class="material-icons mr1">delete</span>
              <span>Delete</span>
            </button>
          </form>
        </div>
        <div>
          <a class="btn-link-subtle" href="/items/{{ item.id }}/edit">
            <span class="material-icons mr1">edit</span>
            <span>Edit</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bullet-margin">
    <div data-target="note.content" class="markdown display-none my2">
      {{ item.body|markdown }}
    </div>
  </div>
</li>
{%- endmacro %}

{% macro link(item) -%}
<li data-itemid="{{ item.id }}" data-controller="note">
  <div class="flex items-center">
    <div class="bullet">
      <p>&#x1F30F</p>
    </div>
    <div class="flex justify-between items-center list-width">
      <button data-action="click->note#toggle" class="btn-unstyled fs-12 flex-auto left-align nowrap truncate overflow-hidden">
        {{ item.title }}
      </button>
      <div data-target="note.chrome" class="chrome display-none flex">
        <div>
          <form action="/links/{{ item.id }}/delete" method="POST">
            <button type="submit" class="btn-subtle mr1">
              <span class="material-icons mr1">delete</span>
              <span>Delete</span>
            </button>
          </form>
        </div>
        <div>
          <a class="btn-link-subtle" href="/items/{{ item.id }}/edit">
            <span class="material-icons mr1">edit</span>
            <span>Edit</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bullet-margin">
    <div data-target="note.content" class="markdown display-none my2">
      {% if item.body %}
        {{ item.body|markdown }}
      {% endif %}
    </div>
  </div>
</li>
{%- endmacro %}
