{% import 'partial/item_types.html' as itemtypes %}

<div class="max-width-3">
  {% if pins|length > 0 %}
    <section>
      <h3>Pins</h3>
      <ul class="list-reset">
        {% for item in pins %}
          {% if item.type == 'note' %}
            {{ itemtypes.note(item) }} 
          {% else %}
            {{ itemtypes.link(item) }}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% for day, items in days.items() %}
    <section>
      <h3>{{ day }}</h3>
      <ul class="list-reset">
        {% for item in items %}
          {% if item.type == 'note' %}
            {{ itemtypes.note(item) }} 
          {% else %}
            {{ itemtypes.link(item) }}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}

  {% if days|length == 0 %}
    {% if page == 0 %}
    <div class="clearfix max-width-4 mx-auto intro">
      <div class="right p2 mr1 md-hide sm-hide xs-hide">
        <img src="link-zelda.png" class="noborder">
      </div>
      <div>
        <h1>Welcome</h1>
        <p>You haven't added anything yet.</p>
        <p>To get started, <a href="https://github.com/AlexanderRichey/linksaver#web-extension" target="_blank">setup the browser extension</a> or create a note by clicking the "New Note" button on the upper right.</p>
        <p>Happy link saving!</p>
      </div>
    </div>
    {% else %}
      <p>There's nothing here</p>
    {% endif %}
  {% endif %}

  {% if not (days|length == 0 and page == 0) %}
    <div class="flex mt3">
      <a class="btn-link-subtle mr1"  href="/?page={{ prev_page }}">
        <span class="material-icons mr1">keyboard_arrow_left</span>
        <span>Newer</span>
      </a>

      <a class="btn-link-subtle" href="/?page={{ next_page }}">
        <span>Older</span>
        <span class="material-icons ml1">keyboard_arrow_right</span>
      </a>
    </div>
  {% endif %}
</div>
