{% macro note(item) -%}
<li data-controller="note">
  <div class="flex items-center">
    <div class="bullet">
      <p>&#x1F4DD</p>
    </div>
    <div class="link-line-item flex justify-between items-center">
      <div data-target="note.nameContainer" class="link-name-container">
        <button data-action="click->note#toggle" class="link-name-btn truncate btn-unstyled">
          {{ item.title }}
        </button>
      </div>
      <div data-target="note.chrome" class="chrome display-none flex">
        <div>
          <button type="submit" class="btn-subtle mr1" data-action="click->note#toggle">
            <span class="material-icons mr1">menu_open</span>
            <span>Close</span>
          </button>
        </div>
        <div>
          <form action="/links/{{ item.id }}/delete" method="POST">
            <button type="submit" class="btn-subtle mr1">
              <span class="material-icons mr1">delete</span>
              <span>Delete</span>
            </button>
          </form>
        </div>
        <div>
          <a class="btn-link-subtle" href="/notes/{{ item.id }}">
            <span class="material-icons mr1">edit</span>
            <span>Edit</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bullet-margin">
    <div data-target="note.content" class="markdown display-none my2">
      {{ item.body|markdown }}
    </div>
  </div>
</li>
{%- endmacro %}

{% macro link(item) -%}
<li data-controller="link">
  <div class="flex items-center">
    <div class="bullet" data-controller="bullet" data-target="bullet.container">
      {% if item.favicon %}
        <img src="{{ item.favicon }}" class="link-favicon" data-target="bullet.image">
      {% else %}
        <p>&#x1F30F</p>
      {% endif %}
    </div>
    <div data-target="link.lineItem" class="link-line-item flex justify-between items-center">

      <div data-target="link.nameContainer" class="link-name-container">
        <a 
          target="_blank"
          href="{{ item.url }}"
          class="link-name-btn flex left-align nowrap truncate">
          {{ item.title }}
        </a>
        <button
          data-target="link.inlineLinkIcon"
          data-action="click->link#toggle"
          class="link-inline-link-icon">
          <span class="material-icons block">menu</span>
        </button>
      </div>

      <div data-target="link.chrome" class="chrome display-none flex">
        <div>
          <button type="submit" class="btn-subtle mr1" data-action="click->link#toggle">
            <span class="material-icons mr1">menu_open</span>
            <span>Close</span>
          </button>
        </div>
        <div>
          <form action="/links/{{ item.id }}/delete" method="POST">
            <button type="submit" class="btn-subtle mr1">
              <span class="material-icons mr1">delete</span>
              <span>Delete</span>
            </button>
          </form>
        </div>
        <div>
          <a class="btn-link-subtle" href="/links/{{ item.id }}">
            <span class="material-icons mr1">edit</span>
            <span>Edit</span>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="bullet-margin">
    <div data-target="link.content" class="display-none">
      {% if item.body %}
        <div class="markdown my2">
          {{ item.body|markdown }}
        </div>
      {% endif %}
    </div>
  </div>
</li>
{%- endmacro %}
